<a href="https://colab.research.google.com/github/juliannegele/Coursera_Capstone/blob/main/Toronto_Neigbourhood_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes
import requests

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from bs4 import BeautifulSoup


import bs4 as bs
import urllib.request

print('Libraries imported.')

Libraries imported.

**Project Part1: Text Scrapping with BeautifulSoup**
1.   Start a new notebook for this project
2.   Build the code to scrape the Wikipedia Page for Torontos Neighbourhoods
3. Create a Dataframe according to the requirements in the assignment

In [12]:
# Use the Notebook to build the code to scrape the following Wikipedia page, https://en.wikipedia.org
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

# The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
source = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(source,'html.parser')

table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [27]:
#Show the first 10 rows of the Dataframe
df.head(10)

  PostalCode           Borough                      Neighborhood
0        M3A        North York                         Parkwoods
1        M4A        North York                  Victoria Village
2        M5A  Downtown Toronto         Regent Park, Harbourfront
3        M6A        North York  Lawrence Manor, Lawrence Heights
4        M7A      Queen's Park     Ontario Provincial Government
5        M9A         Etobicoke                  Islington Avenue
6        M1B       Scarborough                    Malvern, Rouge
7        M3B        North York                   Don Mills North
8        M4B         East York   Parkview Hill, Woodbine Gardens
9        M5B  Downtown Toronto          Garden District, Ryerson

**Groupin Neighborhood based on same PostalCode**

In [30]:
#Groupin
df = df.groupby('PostalCode',as_index=False).agg(lambda x: ','.join(set(x.dropna())))
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough**

In [33]:
df.loc[df['Neighborhood'] == 'Not assigned','Neighborhood'] = df['Borough']
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [34]:
df.shape[0]

103

**Part 2: Adding Longitude and Latitude to the Dataframe**

In [37]:
df2 = pd.read_csv('Geospatial_Coordinates.csv')
df2.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

In [38]:
df2.columns = ['PostalCode','Latitude','Longitude']
df2.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [41]:
#Checking the two Dataframes befor merging
print(df.shape[0])
print(df2.shape[0])

103
103

In [43]:
df_merge = pd.merge(left=df,right=df2,on='PostalCode')
df_merge.head(15)

   PostalCode      Borough  ...   Latitude  Longitude
0         M1B  Scarborough  ...  43.806686 -79.194353
1         M1C  Scarborough  ...  43.784535 -79.160497
2         M1E  Scarborough  ...  43.763573 -79.188711
3         M1G  Scarborough  ...  43.770992 -79.216917
4         M1H  Scarborough  ...  43.773136 -79.239476
5         M1J  Scarborough  ...  43.744734 -79.239476
6         M1K  Scarborough  ...  43.727929 -79.262029
7         M1L  Scarborough  ...  43.711112 -79.284577
8         M1M  Scarborough  ...  43.716316 -79.239476
9         M1N  Scarborough  ...  43.692657 -79.264848
10        M1P  Scarborough  ...  43.757410 -79.273304
11        M1R  Scarborough  ...  43.750072 -79.295849
12        M1S  Scarborough  ...  43.794200 -79.262029
13        M1T  Scarborough  ...  43.781638 -79.304302
14        M1V  Scarborough  ...  43.815252 -79.284577

[15 rows x 5 columns]